<.header>
  New Session
  <:subtitle>Use this form to manage session records in your database.</:subtitle>
</.header>

<.session_form changeset={@changeset} action={~p"/session"} />

<.back navigate={~p"/session"}>Back to session</.back>
