  <div id="json-schema-form10" phx-hook="sami_v1" />
    <button
    class='btn btn-primary btn-block'
      id="json-schema-form-submit10"
      type="submit"
    >
      Save
    </button>
  
  <textarea id="schema-display" rows="15" style="width: 100%; font-family: monospace;"></textarea>

  <button class='btn btn-primary btn-block' id='setschema'>Update Schema</button>